<div class="container">
    <div class="row">
        <div class="col-md-6">
            Live streams
        </div>
        <div class="col-md-6">
            Upcoming streams
        </div>
    </div>
</div>
{{outlet}}
